* {
  font-family: "Sunflower", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  margin: 0;
  padding: 0 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 1000;
  box-shadow: 0 15px 40px 0 rgba(40, 44, 63, 0.15);
}

.company-logo {
  margin-left: 80px;
}

.company-logo > img {
  width: 100px;
}

.header-list {
  margin-right: 80px;
}

.header-list > ul {
  display: flex;
  list-style: none;
}

.header-list > ul > li {
  margin: 20px 25px;
}

.body-container {
  margin-top: 120px;
  margin-left: 70px;
  margin-right: 70px;
}

.search-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.filter-container {
  padding: 10px;
  padding-left: 40px;
}

.filter-btn {
  height: 40px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.res-card-container {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.res-card {
  margin: 5px;
  width: 250px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(227, 230, 232);
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-card > img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.res-info {
  margin: 10px;
}
